/* テーブルの列で改行可能にする */
.word-wrap {
    word-break: break-word;
}
.btn-outline-primary {
    font-size: 0.7rem; /* ボタンのフォントサイズを調整 */
    padding: 0.1rem 0.2rem; /* ボタンのパディングを調整 */
}


/* スマホ向け: テーブル全体を横スクロール可能にする */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* スクロールの滑らかさを向上 */
}

/* テーブルの横幅を常に維持 */
.table {
    width: 100%; /* デフォルトで横幅を設定 */
    min-width: 600px; /* 最小幅を設定し、画面幅が狭い場合に横スクロールを許可 */
}

/* PC向け: 画面幅に応じてテーブルの列幅を縮小 */
@media (max-width: 1200px) {
    table th, table td {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    table th, table td {
        font-size: 0.8rem;
    }
}
